/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2014, 09:13:15 PM
    Author     : laptop-w8
*/
/*
body{
    background-color: #036fab;
}


.ui-panel-titlebar {
    background-color: #0077B5 !important;
}
*/
.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
    border: none;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-galleria{
    width: 100% !important;
}

.ui-selectonemenu{
    width: 95% !important;
}
.ui-selectonemenu-label{
    width: 95% !important;
}



.centrar{
    margin-left:auto;
    margin-right:auto;    
}

.alinear_top {   
    vertical-align: top;
}

.panelGridCenter {
    margin: 0 auto;
}

.panelCentrar{
    width: 800px; 
    margin-left:auto;
    margin-right:auto;
}

.inicio{
    background-image: url('../../resources/img/logo.jpg') !important;
    height:30px;
    width:30px;
}

.panelRojo{
    color: red;
}

.imagenfondo{
    background: url('../../resources/img/fondo.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.colorfondo{
    background: #0000FF
}

.texto_formateado_01{
    font-weight:bold;
}

.texto_formateado_02{
    font-style: italic;
}

.texto_formateado_03{
    font-weight:bold;
    font-size: 14px;
}

.texto_formateado_04{
    font-weight:bold;
    font-size: 14px;
}

.columna_formato_tres{
    width:33%;    
}

.columna_formato_dos{
    width:50%;    
}

.body_usuario{
    background-color: #0077B5;
}

.body_cliente{
    background-color: #0077B5;
}

.icon_logo{
    background-image: url('../../resources/img/logo_mini.jpg') !important;
    height:25px;
    width:250px;
}

.panel_formato_1{
    background-color: transparent;
}

.panel_formato_2{
    opacity: 0.4;
}